@import "../../theme/theme.scss";
.forgotPasswordContainer {
    position: relative;
    @include set-margin-top('forgotpasswordView-emailContainer-margin-top');
    @include set-Height('forgotpasswordView-set-height');
    .hintText {
        text-align: center;
        @include set-margin-top('forgotpasswordView-emailContainer-hintText-margin-top');
    }
    .submitBtnCls {
        @include set-padding-top('forgotpasswordView-emailContainer-submitBtnCls-padding-top');
        width: 100%;
    }
    .btn-primary {
        width: 100%;
    }
    .btn-primary:disabled {
        background-color: $button-text;
    }
    
    .form-group {
        margin-bottom: 0rem;
        
    }
}
