<cvm-header [pageTitle]='title' [isHomeBtn]=false [isBackBtn]=true [isMenuBtn]=false (backButtonEvent)="goBack($event)" (homeButtonEvent)="goHome($event)"></cvm-header>
<div class="container forgotPasswordContainer m-0 w-100">
    <form novalidate #emailForm="ngForm" autocomplete="off" class="h-50">
        <div class="labelText ">
            <div class="row">
                <div class="col col-sm offset-md-1 col-md-10 offset-lg-1 col-lg-10 offset-xl-1 col-xl-10">
                    <div class="form-group">
                        <label for="emailaddress"> {{"registeredEmailAddress" | translate}}</label>
                    </div>
                    <input type="email" id="emailaddress" class="form-control" required name="emailaddress" [(ngModel)]="emailAddressVal" #emailaddress="ngModel" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+" [ngClass]="{'input-errorCls': emailaddress.invalid && (emailaddress.dirty || emailaddress.touched)}">
                    <div *ngIf="emailaddress.errors && (emailaddress.dirty || emailaddress.touched)" class="errorClass">
                        <div *ngIf="emailaddress.errors.required">
                            {{"emptyEmail" | translate}}
                        </div>
                        <div *ngIf="emailaddress.errors.pattern">
                            {{"invalidEmail" | translate}}
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="offset-3 col-6 offset-sm-3 col-sm-6 offset-md-4 col-md-4 offset-lg-4 col-lg-4 offset-xl- col-xl-4">
                <div class="submitBtnCls">
                    <button type="button" class="btn btn-primary col-11 " [disabled]="emailForm.invalid" (click)="onSubmitBtnTap()"> Submit </button>
                </div>
            </div>
        </div>
        <div class="hintText">{{"forgotBottomText" | translate}}</div>
    </form>
</div>
