<div class="changePasswordContainer w-100 h-100">
    <form novalidate [formGroup]="changepasswordGroupForm" autocomplete="off" class="h-100">
        <div class="col-12 col-sm-12 offset-md-1 col-md-10 offset-lg-1 col-lg-10 offset-xl-1 col-xl-10 no-gutters">
            <div class="labelText ">
                <div class="form-group">
                    {{"currentPwd" | translate}}
                </div>
                <input type="password" class="form-control inputText" id="currentPassword" formControlName="currentPassword" [ngClass]="{'input-errorCls': changepasswordGroupForm.get('currentPassword').invalid && (changepasswordGroupForm.get('currentPassword').dirty && changepasswordGroupForm.get('currentPassword').touched)}">
                <div *ngIf="(changepasswordGroupForm.get('currentPassword').dirty || changepasswordGroupForm.get('currentPassword').touched) && changepasswordGroupForm.get('currentPassword').errors" class="errorClass">
                    <div *ngIf="changepasswordGroupForm.get('currentPassword').hasError('required')">
                        {{"enterPassword"| translate}}
                    </div>
                    <div *ngIf="changepasswordGroupForm.get('currentPassword').hasError('pattern')">
                        {{"invalidPassword"| translate}}
                    </div>
                </div>
            </div>
            <div class="new">
                <div class="labelText ">
                    <div class="form-group">
                        {{"newPwd" | translate}}
                    </div>
                    <input type="password" class="form-control inputText" id="newPassword"  formControlName="newPassword" [ngClass]="{'input-errorCls': changepasswordGroupForm.get('newPassword').invalid && (changepasswordGroupForm.get('newPassword').dirty && changepasswordGroupForm.get('newPassword').touched)}">
                    <div *ngIf="(changepasswordGroupForm.get('newPassword').dirty || changepasswordGroupForm.get('newPassword').touched) && changepasswordGroupForm.get('newPassword').errors" class="errorClass">
                        <div *ngIf="changepasswordGroupForm.get('newPassword').hasError('required')">
                            {{"enterPassword"| translate}}
                        </div>
                        <div *ngIf="changepasswordGroupForm.get('newPassword').hasError('pattern')">
                            {{"invalidPassword"| translate}}
                        </div>
                    </div>
                    <div *ngIf="changepasswordGroupForm.get('newPassword').valid && changepasswordGroupForm.hasError('samematch')" class="errorClass">
                        {{"mismatchedPassword"| translate}}
                    </div>
                </div>
                <div class="hintText">{{'invalidPasswordHintText' | translate}}</div>
            </div>
            <div class="confirm">
                <div class="labelText ">
                    <div class="form-group">
                        {{"confirmNewPwd" | translate}}
                    </div>
                    <input type="password" class="form-control inputText" id="confirmPassword" formControlName="confirmPassword" [ngClass]="{'input-errorCls': changepasswordGroupForm.get('confirmPassword').invalid && (changepasswordGroupForm.get('confirmPassword').dirty && changepasswordGroupForm.get('confirmPassword').touched)}">
                    <div *ngIf="(changepasswordGroupForm.get('confirmPassword').dirty || changepasswordGroupForm.get('confirmPassword').touched) && changepasswordGroupForm.get('confirmPassword').errors" class="errorClass">
                        <div *ngIf="changepasswordGroupForm.get('confirmPassword').hasError('required')">
                            {{"enterPassword"| translate}}
                        </div>
                        <div *ngIf="changepasswordGroupForm.get('confirmPassword').hasError('pattern')">
                            {{"invalidPassword"| translate}}
                        </div>
                    </div>
                    <div *ngIf="changepasswordGroupForm.get('confirmPassword').valid && changepasswordGroupForm.hasError('match')" class="errorClass">
                        {{"passwordDoesNotMatch"| translate}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="offset-3 col-6 offset-sm-3 col-sm-6 offset-md-4 col-md-4 offset-lg-4 col-lg-4 offset-xl- col-xl-4">
                <div class="submitBtnCls">
                    <button type="button" class="btn btn-primary col-11 " [disabled]="changepasswordGroupForm.invalid" (click)="onSubmitBtnTap(changepasswordGroupForm.value)"> Submit </button>
                </div>
            </div>
        </div>
    </form>
</div>
