@import "../../theme/theme.scss";
.changePasswordContainer {
    position: fixed;
    @include set-margin-top('changePasswordContainer-margin-top');
    .hintText {
        @include set-margin-top('changePasswordContainer-hintText-margin-top');
    }
    .new {
        @include set-margin-top('changePasswordContainer-margin-top');
    }
    .confirm {
        @include set-margin-top('changePasswordContainer-margin-top');
    }
    .submitBtnCls {
        @include set-padding-top('changePasswordContainer-submitBtnCls-padding-top');
        width: 100%;
    }
    .btn-primary {
        width: 100%;
    }
    .btn-primary:disabled {
        background-color: $button-text;
    }
    
    .form-group {
        margin-bottom: 0.25rem;
    
    }
}
