<div class="visitDetailsView">
    <div class="visitDetailsView-header-body">
        <div class="visitId pl-3 mb-3">
            <div class="container">
                <div class="visitId-title pt-3 pb-3">
                    <b>Visit ID: IDC-110167-UBS</b>
                </div>
                <div class="row">
                    <div class="col-5 pr-0">
                        <div class="common-class">Client Name</div>
                        <div class="common-class">Client Designation</div>
                        <div class="common-class">Visit Type</div>
                        <div class="common-class">Visit Category</div>
                        <div class="common-class">Start Date</div>
                        <div class="common-class">End Date</div>
                        <div class="common-class">Facility</div>
                        <div class="common-class">City</div>
                    </div>
                    <div class="col-6 pr-0">
                        <div class="common-class">UBS</div>
                        <div class="common-class">CXO, Managing Director</div>
                        <div class="common-class">Sales</div>
                        <div class="common-class">Gold</div>
                        <div class="common-class">01-May-2017</div>
                        <div class="common-class">05-May-2017</div>
                        <div class="common-class">BDC3</div>
                        <div class="common-class">Bangalore</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clientDelegation mb-3">
            <div class="container">
                <div class="clientDelegation-title badge badge-default common-title-custom pl-3">
                    <div>Client Delegation</div>
                </div>
                <div class="clientDelegation-heading common-heading-custom pt-2 pb-2 pl-3 ">
                    <div class="row">
                        <div class="col-5 pr-0">
                            <div>Name</div>
                        </div>
                        <div class="col-6 pr-0">
                            <div>Designation</div>
                        </div>
                    </div>
                </div>
                <div class="clientDelegation-data pl-3 pt-2">
                    <div class="row">
                        <div class="col-5 pr-0">
                            <div class="common-class">Chris Gelvin</div>
                            <div class="common-class">Charles Mullinder</div>
                            <div class="common-class">Richard Dale</div>
                        </div>
                        <div class="col-6 pr-0">
                        <div class="common-class">CXO</div>
                        <div class="common-class">Managing Director</div>
                        <div class="common-class">Managing Director</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="internalTeam mb-3">
            <div class="container">
                <div class="internalTeam-title badge badge-default common-title-custom pl-3">
                    <div>Internal Team</div>
                </div>
                <div class="clientDelegation-heading common-heading-custom pt-2 pb-2 pl-3">
                    <div class="row">
                        <div class="col-5 pr-0">
                            <div>Name</div>
                        </div>
                        <div class="col-6 pr-0">
                            <div>Designation</div>
                        </div>
                    </div>
                </div>
                <div class="internalTeam-data pl-3 pt-2">
                    <div class="row">
                        <div class="col-5 pr-0">
                            <div class="common-class">Chris Gelvin</div>
                            <div class="common-class">Charles Mullinder</div>
                        </div>
                        <div class="col-6 pr-0">
                         <div class="common-class">Managing Director</div>
                        <div class="common-class">Managing Director</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer d-flex align-items-center">
        <div class="col-6 col-md-6">
            <button class="btn btn-primary">Visit Explorer</button>
        </div>
    </div>
</div>
