$dark-grey: #cccccc;
$button-text: #FFFFFF;
$label-text: #333333;
$color-grey: #b3b3b3;
$color-black: #000000;
$color-red: #ed1f24;
$color-blue:#004dff;
$color-light-green:#00d700;
$hint-text: #999999;
$gradient-left:#00ff00;
$gradient-right:#00530a;
$info-text:#666666;
$tab-disable:#808080;
$commentBorder:#c8c8cd;
$commentTopBorder:#adadad;
$background-color:#fce0e0;
$color-green: #00a000;
$cvm-green: #00a000; /* need to fix this*/
$color-inprogress:#ff9600;
$cvm-grey:#4d4d4d;
$cvm-light-grey:#848484;
$cvm-comment-id-color:#f2f2f2;


$color-primary: $color-blue;
$color-secondary: $color-light-green;