<div class="container">
	<div class="col-12">
		<div class="carDetails-heading-margin carDetails-main-heading">Your Car Details</div>
	</div>
	<!-- for loop starts from here -->
	<div class="col-12">
		<div class="row">
			<div class="col-5">
				<div class="carDetails-heading">Bangalore</div>
			</div>
			<div class="col-7">
				<div class="carDetails-heading text-right">Oct 30, 2016 - Nov 1, 2016</div>
			</div>
		</div>
		<hr class="hr-custom">
	</div>
	<div class="col-12">
		<div class="row">
			<div class="col-12 col-sm-6 col-md-6 pr-md-0">
				<div class="container custom-container carDetails-timingDetails-container-height">
					<div class="row">
						<div class="col-6">
							<div class="carDetails-timingDetails-label mb-1">PICKUP FROM</div>
							<p class="pickUpDetails-custom">Hyatt Hotel</p>
						</div>
						<div class="col-6">
							<div class="carDetails-timingDetails-label mb-1">PICKUP DATE</div>
							<p class="pickUpDetails-custom">Nov 1, 2016</p>
						</div>
					</div>
					<div class="row">
						<div class="col-6">
							<div class="carDetails-timingDetails-label mb-1">TIME</div>
							<p class="pickUpDetails-custom">9:30 AM</p>
						</div>
						<div class="col-6">
							<div class="carDetails-timingDetails-label mb-1">NO. OF DAYS</div>
							<p class="pickUpDetails-custom">2 Days</p>
						</div>
					</div>
					<!-- TODO: Down Arrow icon to be displayed here. Still on hold --> 
					<!--	<span class="icon-down carDetails-custom-down-arrow col-12 text-center"></span> -->
				</div>
			</div>
			<div class="col-12 col-sm-6 col-md-6 pl-md-0">
				<div class="container custom-container carDetails-driverDetails-container-height">
					<div class="row">
						<div class="col-12 col-sm-12 col-md-12">
							<div class="mtmb-30 custom-heading-2 ml-2">Driver Details</div>
						</div>
					</div>
					<div class="row">
						<div class="col-3 col-sm-3 text-center">
							<img blockedImageSrc="../../../resources/images/download_thumbnail_phone.png" class="img-fluid rounded-circle custom-img">
						</div>
						<div class="col-7 col-sm-8 col-md-7 pl-0">
							<div class="driverDetails-custom-heading">Anil Singh</div>
							<div class="carDetails-driverDetails-section col-md-12 pl-0">
								<span class="icon-cardetails carDetails-regNumber-custom">
							</span><span class="cabDetails-custom">DL 53 P 4436</span>
							</div>
							<div class="carDetails-driverDetails-section col-md-12 pl-0">
								<span class="icon-call custom-icon carDetails-mobNumber-custom"></span>
								<span class="cabContactNumber-custom">9880674508</span>
							</div>
						</div>
						<div class="col-2 col-sm-2 col-md-2"><span class="icon-addtocontacts custom-large-icon"></span></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 custom-margin-top">
		<div class="row">
			<div class="col-5">
				<div class="carDetails-heading">Chennai</div>
			</div>
			<div class="col-7">
				<div class="carDetails-heading text-right">Nov 2, 2016 - Nov 17, 2016</div>
			</div>
		</div>
		<hr class="hr-custom">
		<div class="row">
			<div class="col-12 col-sm-12">
				<p class="custom-para-3">No car requested for this visit.</p>
			</div>
		</div>
	</div>
	<div class="container custom-margin-top">
		<div class="row">
			<div class="col-5">
				<div class="carDetails-heading">Mumbai</div>
			</div>
			<div class="col-7">
				<div class="carDetails-heading text-right">Nov 18, 2016 - Nov 27, 2016</div>
			</div>
		</div>
		<hr class="hr-custom">
		<div class="row">
			<div class="col-12 col-sm-12">
				<p class="custom-para-3">No car requested for this visit.</p>
			</div>
		</div>
	</div>
	<!-- for loop ends from here -->
</div>
